.body{
    background: white;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow-x:hidden ;
    margin:0;
    width:90vw;
}
.t{
    margin-left:-150px;
    background: white;
}

.container{
    display: grid; 
     grid-template-columns: auto auto auto ;
    /* height:120vh; */
    width: 100vw;
    padding: 2px; 
}
.card{
    background-color: white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    height:50vh;
    padding: 20px;
    border:none;
    margin: 20px;
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
    color:white;
    background: black;
}